name: Build and Test

on:
  - pull_request
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Use OCaml 4.11
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: 4.11.1
      - run: opam pin add fact++.dev . --no-action
      - run: opam depext fact++ --with-doc --with-test
      - run: opam install . --deps-only --with-doc --with-test
      - run: opam exec -- dune build
      - run: opam exec -- dune runtest
